@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

:root {
  --ds_color:200, 60%; /*the base color*/
  --ds_l:50%; /*the initial lightness*/
  --ds_color-primary: hsl(var(--ds_color),var(--ds_l));
  --ds_color-primary-darker: hsl(var(--ds_color),calc(var(--ds_l) - 10%));
  --ds_color-primary-darkest: hsl(var(--ds_color),calc(var(--ds_l) - 20%)); 
}

$primary_color: #3399CC;
$invalid_color: red;
$invalid_bg_color: lighten( $invalid_color, 40% );
$color_white: #ffffff;
$drop_shadow: rgba(0,0,0,0.43);
$overlay_bg: rgba(0,0,0,0.34);
$button_color: #EDEDED;
$button_text: #767575;

.ds_modal_widget {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 200px;
    padding: 0 1em;
    .sm{
      flex-basis: 25%;
      min-width: 75px;
    }
    .column:first-of-type{
      padding: 0 1em 0 0;
    }
    .column:last-of-type{
      padding: 0 0 0 0;
    }
  }

  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    padding: 0 1em;
  }

  &.inline_form{
    .modal__container{
      margin: 0 !important;
    }
  }
  

  .modal__container {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: $color_white;
    padding: 15px;
    width: 90%;
    max-width: 535px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-box-shadow: 0px 5px 10px 0px $drop_shadow;
    -moz-box-shadow: 0px 5px 10px 0px $drop_shadow;
    box-shadow: 0px 5px 10px 0px $drop_shadow;
    will-change: transform;
    @media only screen and (max-width: 740px), screen and (max-height: 730px) {
      width: 100%;
      max-width: 100%;
      border-radius: 0;
      padding: 5px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .modal__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px $drop_shadow;
      padding-bottom: 5px;
      .modal__back_button{
        display: none;
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1.25;
        cursor: pointer;
        span{
          display: inline-block;
          &:before{
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 15'%3E%3Cdefs/%3E%3Cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-width='2' d='M8 14L1 8l7-7'/%3E%3C/svg%3E");
            width: 10px;
            display: inline-block;
            margin-right: 5px;
            vertical-align: -0.08em;
          }
        }
      }
      .modal__title {
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.2em;
        line-height: 1.25;
        color: var(--ds_color-primary);
        box-sizing: border-box;
      }
      .modal__close {
        background: transparent;
        border: 0;
        display: block;
        height: 30px;
        width: 30px;
        padding-right: 0;
        cursor: pointer;
        &:before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs/%3E%3Cpath fill='%23ccc' d='M7 23l7-7-7-7 2-2 7 7 7-7 2 2-7 7 7 7-2 2-7-7-7 7z'/%3E%3C/svg%3E");
        }
        &:hover{
          &:before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs/%3E%3Cpath fill='black' d='M7 23l7-7-7-7 2-2 7 7 7-7 2 2-7 7 7 7-2 2-7-7-7 7z'/%3E%3C/svg%3E");
          }
        }
        &:focus{
          outline: none;
          &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs/%3E%3Cpath fill='black' d='M7 23l7-7-7-7 2-2 7 7 7-7 2 2-7 7 7 7-2 2-7-7-7 7z'/%3E%3C/svg%3E");
          }
        }
      }
    }
    .modal__footer {
      display: flex;
      align-items: center;
      height: 25px;
      padding-top: 5px;
      @media only screen and (max-width: 740px), screen and (max-height: 730px) {
        border-top: solid 1px rgba(0,0,0,0.43);
      }
      > div {
        flex: 33%;
        &.center{
          text-align: center;
        }
        svg{
          width: 102px;
        }
      }
    }
  }

  textarea{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: .6em;
    margin-bottom: 1.2em;
    border: 1px solid $button_text;
    border-radius: 5px;
    outline: none;
    &:focus{
      border: 1px solid var(--ds_color-primary);
    }
    &:hover{
      border: 1px solid var(--ds_color-primary);
    }
  }

  .input-wrapper{
    width: 100%;
    margin-bottom: .8em;
    display: flex;
    flex-flow: column;
    .errorSpan{
      display: none;
      color: $invalid_color;
      text-align: right;
      font-size: .8em;
      font-weight: 500;
      padding-top: .2em;
    }
    span.req{
      color: $invalid_color;
      font-weight: 500;
      padding-left: 2px;
    }
    &.invalid{
      .errorSpan{
        display: block;
      }
      input[type=text], select{
        background-color: $invalid_bg_color !important;
      }
    }
    select{
      font-family: 'Montserrat', sans-serif;
      display: block;
      padding: .6em 1.4em .5em .3em;
      width: 100%;
      max-width: 100%;
      font-size: 1em;
      border: 1px solid $button_text;
      border-radius: 5px;
      outline: none;
      &:focus{
        border: 1px solid var(--ds_color-primary);
      }
      &:hover{
        border: 1px solid var(--ds_color-primary);
      }
    }
    input{
      font-family: 'Montserrat', sans-serif;
      display: block;
      padding: .6em;
      font-size: 1em;
      border: 1px solid $button_text;
      border-radius: 5px;
      outline: none;
      &:focus{
        border: 1px solid var(--ds_color-primary);
      }
      &:hover{
        border: 1px solid var(--ds_color-primary);
      }
      &[type=checkbox]{
        display: inline-block;
        margin-right: .4em;
      }
    }
  }
  
  
  fieldset{
    padding: 0;
    margin: 0;
    border: 0;
  }

  .ds_timeline{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border: solid 2px #B9B9B9;
      &.current{
        border: solid 2px var(--ds_color-primary);
      }
      &.past{
        border: solid 2px var(--ds_color-primary);
        background: var(--ds_color-primary);
      }
    }
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .hidden{
    display: none;
  }

  .btn-group-radio{
    display: block;
    white-space: nowrap;
    margin: 0 auto;
    .button_radio-wrapper {
      float: left;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      border: none;
      width: 50%;
      min-width: 130px;
      label {
        cursor: pointer;
        font-size: 1.13em;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        padding: 16px 0;
        background-color: $button_color;
        font-weight: 400;
        color: $button_text;
        min-width: 130px;
        width: 100%;
        text-align: center;
        -webkit-box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
        box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
        transition: background-color 0.5s ease;
        @media only screen and (max-width: 400px) {
          font-size: .9em;
        }
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
        &:hover {
          background-color: darken( $button_color, 10% );
        }
        &:focus {
          background-color: darken( $button_color, 10% );
        }
      }
      &:first-child {
        label {
          border-radius: 10px 0 0 10px;
        }
      }
      &:last-child {
        label {
          border-radius: 0 10px 10px 0;
        }
      }
      input[type="radio"] {
        display: block !important;
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        &:checked ~ label {
          outline: none;
          background-color: var(--ds_color-primary);
          color: $color_white;
          font-weight: 600;
        }
        &:checked:hover ~ label{
            background-color: var(--ds_color-primary-darker);
        }
        &:focus ~ label{
          background-color: var(--ds_color-primary-darker);
        }
      }
    }
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }

  .ds_form_type{
    display: none;
  }

  .edit_amt{
    margin-bottom: 1em;
    a{
      display: block;
      text-decoration: none;
      color: var(--ds_color-primary);
      &:hover{
        color: var(--ds_color-primary-darkest);
      }
      &:focus{
        color: var(--ds_color-primary-darkest);
      }
    }
  }

  .donation_amount_selection{
    margin: 30px auto 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .button_radio-wrapper{
      display: inline-block;
      text-align: center;
      text-decoration: none;
      border: none;
      width: 100%;
      max-width: 100px;
      margin-bottom: 20px;
      @media only screen and (max-width: 740px), screen and (max-height: 730px) {
        max-width: 45%;
        flex: 1 1 45%;
      }
      label {
        cursor: pointer;
        font-size: 1.13em;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        padding: 16px 0;
        background-color: $button_color;
        font-weight: 400;
        color: $button_text;
        width: 100%;
        text-align: center;
        -webkit-box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
        box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
        transition: background-color 0.5s ease;
        border-radius: 10px;
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
        &:hover {
          background-color: darken( $button_color, 10% );
        }
        &:focus {
          background-color: darken( $button_color, 10% );
        }
      }
      input[type="radio"] {
        display: block !important;
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        &:checked ~ label {
          outline: none;
          background-color: var(--ds_color-primary);
          color: $color_white;
          font-weight: 600;
        }
        &:checked:hover ~ label{
            background-color: var(--ds_color-primary-darker);
        }
        &:focus ~ label{
          background-color: var(--ds_color-primary-darker);
        }
      }
    }
  }

  .donation_subselection{
    font-family: 'Montserrat', sans-serif;
    label{
      display: block;
    }
  }

  .modal__content {
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow-y: auto;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-weight: 400;
    position: relative;
    top: 0;
    //height: calc(100% - 95px);
    &.business{
      .business_section{
        display: block;
        legend{
          margin: 1em 0 .3em 0;
          font-weight: 500;
        }
        details{
          margin: .6em 0 1em 0;
          summary{
            margin-bottom: .3em;
            font-weight: 500;
            span{
              font-weight: normal;
              font-style: italic;
            }
          }
        }
      }
    }
    .billing_section{
        display: block;
        legend{
          margin: 1em 0 .3em 0;
          font-weight: 500;
        }
        details{
          margin: .6em 0 1em 0;
          summary{
            margin-bottom: .3em;
            font-weight: 500;
            span{
              font-weight: normal;
              font-style: italic;
            }
          }
        }
      }

    .payment_section{
      display: block;
        legend{
          margin: 1em 0 .3em 0;
          font-weight: 500;
        }
        details{
          margin: .6em 0 1em 0;
          summary{
            margin-bottom: .3em;
            font-weight: 500;
            span{
              font-weight: normal;
              font-style: italic;
            }
          }
        }
      #card-element{
        font-family: 'Montserrat', sans-serif;
        display: block;
        padding: .6em;
        font-size: 1em;
        border: 1px solid $button_text;
        border-radius: 5px;
        outline: none;
        &:focus{
          border: 1px solid var(--ds_color-primary);
        }
        &:hover{
          border: 1px solid var(--ds_color-primary);
        }
      }
    }

    .goal_thermometer{
      display: none;
      margin-bottom: 20px;
      @media only screen and (max-width: 400px) {
        font-size: 1em;
      }
      .raised_amt{
        float: left;
        
      }
      .goal_amt{
        float: right;
      }
      .bar{
        clear: both;
        width: 100%;
        height: 4px;
        margin-top: -10px;
        background-color: $button_color;
        border-radius: 4px;
        padding: 0;
        .bar-value{
          background-color: var(--ds_color-primary);
          display: block;
          height: 100%;
        }
      }
    }
    .ds_steps{
      .ds_step{
        display: none;
        &.current{
          display: block;
        }
        &:last-of-type {
          .foot{
            width: 90%;
            margin: 0 auto;
          }
        }
        .foot{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          .amount{
            width: 50%;
            border-bottom: solid 1px $drop_shadow;
            align-self: flex-end;
            font-size: 45px;
            font-weight: 500;
            display: flex;
            flex-direction: row;
            white-space: nowrap;
            justify-content: space-between;
            @media only screen and (max-width: 740px), screen and (max-height: 730px) {
              width: 100%;
              margin-bottom: 15px;
            }
            &.invalid{
              input{
                background-color: $invalid_bg_color !important;
              }
            }
            &:before{
              content: '$';
              align-self: flex-start;
            }
            &:after{
              content: attr(data-is_month);
              font-size: 14px;
              text-align: right;
              font-weight: 500;
              align-self: flex-end;
              margin-bottom: 12px;
            }
            input{
              font-size: 45px;
              font-weight: 500;
              border: none;
              width: inherit;
              min-width: 0;
              flex: 1 1;
              &:focus{
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  .modal__btn {
    font-family: 'Montserrat', sans-serif;
    font-size: .875em;
    font-weight: 300;
    padding: .5em 1em;
    background-color: $button_color;
    color: rgba(0,0,0,.8);
    border-radius: .25em;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
    -webkit-box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
    box-shadow: 0px 2px 2px 0px  rgba(0,0,0,0.16);
    &:focus{
      background-color: darken( $button_color, 10% );
    }
    &:hover{
      background-color: darken( $button_color, 10% );
    }
  }

  .modal__btn-continue {
    background-color: var(--ds_color-primary);
    color: $color_white;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 10px;
    padding: 26px 53px;
    transition: background-color 0.5s ease;
    @media only screen and (max-width: 740px), screen and (max-height: 730px) {
      width: 100%;
      margin-bottom: 10px;
    }
    &:focus{
      outline: none;
      background-color: var(--ds_color-primary-darker);
    }
    &:hover{
      background-color: var(--ds_color-primary-darker);
    }
  }

  #step-1{
    width: 90%;
    margin: 0 auto;
  }

}